# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências (Nunca envie isso!)
node_modules
dist
dist-ssr
*.local

# Editor e Sistema Operacional
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# --- BACKEND ---
# Ignorar a pasta node_modules de dentro da API também
finance-manager-api/node_modules

# SEGURANÇA MÁXIMA: Ignorar o arquivo de senhas
finance-manager-api/.env
.env